.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/LinqDemo.deps.json
bin/Debug/netcoreapp3.1/LinqDemo.dll
bin/Debug/netcoreapp3.1/LinqDemo.exe
bin/Debug/netcoreapp3.1/LinqDemo.pdb
bin/Debug/netcoreapp3.1/LinqDemo.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/LinqDemo.runtimeconfig.json
bin/Debug/netcoreapp3.1/log_file.txt
bin/Debug/netcoreapp3.1/NLog.dll
bin/Debug/netcoreapp3.1/NLog.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/NLog.Web.AspNetCore.dll
obj/LinqDemo.csproj.nuget.dgspec.json
obj/LinqDemo.csproj.nuget.g.props
obj/LinqDemo.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/LinqDemo.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/LinqDemo.assets.cache
obj/Debug/netcoreapp3.1/LinqDemo.csproj.CopyComplete
obj/Debug/netcoreapp3.1/LinqDemo.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/LinqDemo.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/LinqDemo.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/LinqDemo.dll
obj/Debug/netcoreapp3.1/LinqDemo.exe
obj/Debug/netcoreapp3.1/LinqDemo.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/LinqDemo.pdb
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/LinqDemo.AssemblyInfo.cs
